{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block titulo %}
Cadastro de Tipologia
{% endblock titulo %}

{% block bread %}
<a href="{% url 'tipologias:adicionar_tipologia' %}"> Cadastro de Tipologia</a>
{% endblock bread %}

{% block content %}
<div class="row">
    <div class="col-12"></div>
</div>

<div class="card">
    <div class="card-header">
        <h2><i class="fa fa-users"></i> Cadastro de Tipologias</h2>
    </div>
    <div class="card-body">
        <table class="table" width="100%" cellspacing="0">
            <form method="post"
                  novalidate>
                {% csrf_token %}
                <div class="container">
                    <div class="p-3 mb-2 bg-light text-dark">
                        <div class="row">
                            <div class="col-md-5">
                                {{ form.codigo.errors }}
                                {{ form.codigo | as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.subgrupo.errors }}
                                {{ form.subgrupo | as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.descricao.errors }}
                                {{ form.descricao | as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="p-3 mb-2 bg-light text-dark">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.und_medida_desc.errors }}
                                {{ form.und_medida_desc | as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.p_poluidor.errors }}
                                {{ form.p_poluidor | as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.subgrupoo.errors }}
                                {{ form.subgrupo | as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.descricao.errors }}
                                {{ form.descricao | as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="p-3 mb-2 bg-light text-dark">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-info"><i class="fa fa-plus"></i> Salvar</button>
                                &nbsp;
                                <button type="button" class="btn btn-primary" onClick="history.go(-1)">
                                    <i class="fa fa-angle-double-left"></i> Voltar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script>
                $("#id_uf").change(function () {
                    var url = $("#clienteForm").attr("dados-cidades-url");
                    var ufId = $(this).val();
                    $.ajax({
                        url: url,
                        data: {
                            'uf': ufId
                        },
                        success: function (data) {
                            $("#id_cidade").html(data);
                        }
                    });
                });
            </script>
        </table>
    </div>
</div><br>

{% endblock content %}



