{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
Listagem de Tipologias
{% endblock title %}

{% block bread %}
<a href="#">Verificar documentação para Licenciamento</a>
{% endblock bread %}

{% block content %}
<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h2 class="text-info m-0 font-weight-bold"><i class="fa fa-list-ol"></i> Documentação para Licenciamento</h2>
                    </div>
                    <div class="card-body">
                        <div class="card-header py-3">
                            <h4 class="text-info m-0 font-weight-bold" align="center"><i class="fa fa-table"></i> Arquivos comuns para Download</h4>
                        </div>
                        <div class="card-header">
                            <div class="card-body">
                                <p><a href="/media/arquivo/Requerimento - Prefeitura.docx" download>1. Requerimento - Prefeitura.docx</a></p>
                                <p><a href="/media/arquivo/Declaração de Responsabilidade Técnica - DRT.docx" download>2. Declaração de Responsabilidade Técnica - DRT.docx</a></p>
                                <p><a href="/media/arquivo/Termo de Responsabilidade Ambiental - TRA.docx" download>3. Termo de Responsabilidade Ambiental - TRA.docx</a></p>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="card-header py-3">
                                <h4 class="text-info m-0 font-weight-bold" align="center"><i class="fa fa-table"></i> Listagem de Tipologias</h4>
                            </div>
                            <div class="card-header">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr style="text-align: center">
                                            <th>ID</th>
                                            <th>Código</th>
                                            <th>Descrição</th>
                                            <th>Und. de Medida</th>
                                            <th>Portencial Poluidor</th>
                                            <th>SubGrupo</th>
                                            <th>PDF</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for t in tipologias %}
                                        <tr>
                                            <td>{{ t.id }}</td>
                                            <td>{{ t.codigo }}</td>
                                            <td>{{ t.descricao }}</td>
                                            <td>{{ t.und_medida_desc }}</td>
                                            {% if t.p_poluidor == None %}
                                            <td><span> - </span></td>
                                            {% else %}
                                            <td>{{ t.p_poluidor }}</td>
                                            {% endif %}
                                            <td>{{ t.subgrupo }}</td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <a href="/media/{{ t.pdf }}" download>
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
    <!--                            <div class="p-3 mb-2 bg-light text-dark">-->
    <!--                                <div class="row">-->
    <!--                                    <div class="col-md-12">-->
    <!--                                        <label><strong>Descrição:</strong></label>-->
    <!--                                        <select class="form-control ml-sm-2 mr-sm-2" name="codigo">-->
    <!--                                            <option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
    <!--                                            {% for t in tipologias %}-->
    <!--                                                <option value="{{ t.id }}">-->
    <!--                                                    {{ t.descricao }}-->
    <!--                                                </option>-->
    <!--                                            {% endfor %}-->
    <!--                                        </select>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->
                        </div>
                        <div class="card-footer py-3">
                            <a class="btn btn-info" href="#"><i
                                    class="fa fa-search"></i><span> Verificar documentação</span></a>             &nbsp;
                            <button type="button" class="btn btn-primary" onClick="history.go(-1)">
                                <i class="fa fa-angle-double-left"></i> Voltar
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}

