{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
Listagem de Tipologias
{% endblock title %}

{% block bread %}
<a href="#">Verificar documentação para Licenciamento</a>
{% endblock bread %}

{% block content %}
<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h2 class="text-info m-0 font-weight-bold"><i class="fa fa-list-ol"></i> Documentação para Licenciamento</h2>
                    </div>
                    <div class="white-box">
                        <h3 class="box-title m"></h3>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="card-header">
                                <h5 class="pull-left"><i class="fa fa-download"></i><strong> Arquivos comuns para Download:</strong></h5>
                                <p> 1. Requerimento - Prefeitura.docx</p>
                                <p>2. Declaração de Responsabilidade Técnica - DRT.docx</p>
                                <p>3. Termo de Responsabilidade Ambiental - TRA.docx</p>
                            </div>
                            <div class="p-3 mb-2 bg-light text-dark">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><strong>Descrição:</strong></label>
                                        <select class="form-control ml-sm-2 mr-sm-2" name="codigo">
                                            <option value="">---------</option>
                                            {% for t in tipologias %}
                                                <option value="{{ t.id }}">
                                                    {{ t.id }} -
                                                    {{ t.codigo }} -
                                                    {{ t.descricao }} -
                                                    {{ t.p_poluidor }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="p-3 mb-2 bg-light text-dark">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-4">-->
<!--                                        <div class="col-md-4">-->
<!--                                            <label for="descricao">Valor (R$)</label>-->
<!--                                            <input type="text" id="descricao" name="descricao" value="{{ t.id }}">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="card-footer py-3">
                        <a class="btn btn-info" href="#"><i
                                class="fa fa-search"></i><span> Verificar documentação</span></a>             &nbsp;
                        <button type="button" class="btn btn-primary" onClick="history.go(-1)">
                            <i class="fa fa-angle-double-left"></i> Voltar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}

